.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

.link:hover {
    color: rgba(87, 87, 87, 0.734);
}

.top-name {
    position: absolute;
    top: 30%; 
    width: 100%;
}

.top-name * {
    font-size: 24px;
}

.font-modern * {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 571;
    font-style: normal;
    color: white;
    /* mix-blend-mode: difference; */
}

.font-modern .title {
    font-size: 70px;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
    background-image: url("../images/landing.jpg");
  }

.center-div {
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 900px;
}

/* Mobile specific breakpoint */ 

@media (max-device-width: 800px) {

    .top-name * {
        font-size: 16px;
    }

    .font-modern .title {
        font-size: 50px;
    }

    .top-name {
        top: 25%;
    }

    .font-modern, .text-center * {
        color: white;
    }

    .bg-image {
        background-image: url("../images/mobile-landing-white.jpg");
    }
}

/* Text size breakpoints */ 

@media (min-width: 1200px) {
    .top-name * {
        font-size: 23px;
    }

    .font-modern .title {
        font-size: 68px;
    }
}

@media (min-width: 2000px) {
    .top-name * {
        font-size: 30px;
    }

    .font-modern .title {
        font-size: 80px;
    }
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* background: url("../Pictures/cortlandthibodeau.png") no-repeat; */
    background-size: cover;
}
