.font-modern * {
  font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.nav-link-hover:hover {
  color: grey;
}

.font-modern .heading-lrg,
.font-modern .heading,
.font-modern .heading-sml {
  font-weight: 500;
}*,
*:before,
*:after {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
.header {
	padding-top: 30px;
  z-index: 20;
  background-color: #ffffffe5;
}
.header, .header-sticky{
  position: sticky; top: 0
}
.logo {
  font-size: calc(110% + 1vw);
  line-height: 85px;
  font-weight: bold;
}
.nav-link {
  font-size: 16px;
  line-height: 80px;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 0 15px;
}
.logo img {
  height: 85px;
  display: inherit;
}

/*Text*/
.heading {
  font-size: 42px;
  line-height: 1.5;
}
.heading-sml {
  font-size: 36px;
  line-height: 1.38;
	font-weight: bold;
}
.heading-lrg {
  font-size: 56px;
  line-height: 1.38
}
.subheading {
	font-size: 22px;
	line-height: 1.8;
	font-weight: 400;
}
.paragraph {
  font-size: 19px;
  line-height: 1.8;
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
.span {
	font-size: 15px;
	line-height: 1.5;
}

.text-center {
  text-align: center;
}

img {
	max-width: 100%;
}

.copyright { 
  padding-top: 20px; 
  font-size: 10px;
}

/*grid*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 20px;
}
.col-1 { flex-basis: 8.333333%; max-width: 8.333333%;}
.col-2 { flex-basis: 16.666667%; max-width: 16.666667%;}
.col-3 { flex-basis: 25%; max-width: 25%;}
.col-4 { flex-basis: 33.333333%; max-width: 33.333333%;}
.col-5 { flex-basis: 41.666667%; max-width: 41.666667%;}
.col-6 { flex-basis: 50%; max-width: 50%;}
.col-7 { flex-basis: 58.333333%; max-width: 58.333333%;}
.col-8 { flex-basis: 66.666667%; max-width: 66.666667%;}
.col-9 { flex-basis: 75%; max-width: 75%;}
.col-10 { flex-basis: 83.333333%; max-width: 83.333333%;}
.col-11 { flex-basis: 91.666667%; max-width: 91.666667%;}
.col-12 { flex-basis: 100%; max-width: 100%;}

/*flexbox styles*/
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.spread {
  justify-content: space-between;
}
.center-horizontal {
  align-items: center;
}
.center-vertical {
  justify-content: center;
}
.start {
  justify-content: flex-start;
}
.end {
  justify-content: flex-end;
}
.noshrink {
  flex-shrink: 0;
}
.wrap {
  flex-flow: wrap;
}


/*containers*/
.container-lrg,
.container,
.container-sml {
  margin: auto;
  position: relative;
  width: 100%;
}
.container-lrg {
  max-width: 1020px;
}
.container {
  max-width: 800px;
}
.container-sml {
	max-width: 470px;
}
.section-top {
  padding: 40px 0;
  overflow: hidden;
  position: relative;
}
.section {
  padding: 100px 0;
  overflow: hidden;
  position: relative;
}




/*padding & margins*/
.mb10:not(:last-of-type), .mb10:first-of-type { margin-bottom: 10px; }
.mb20:not(:last-of-type), .mb20:first-of-type { margin-bottom: 20px; }
.mb35:not(:last-of-type), .mb35:first-of-type { margin-bottom: 35px; }
.mb40:not(:last-of-type), .mb40:first-of-type { margin-bottom: 40px; }
.mb50:not(:last-of-type), .mb50:first-of-type { margin-bottom: 50px; }
.mb75:not(:last-of-type), .mb75:first-of-type { margin-bottom: 75px; }
.m0 { margin: 0 }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }
.mt75 { margin-top: 75px; }
.mr0 { margin-right: 0px; }
.mr10 { margin-right: 10px; }
.mr20 { margin-right: 20px; }
.pl0 { padding-left:0; }
.pr0 { padding-right: 0; }
.pad10 { padding: 10px; }
.pad20 { padding: 20px; }
.pad30 { padding: 30px; }
.pad30top {padding-top: 30px; }

@media (max-width: 820px) {
  .main-menu {
    position: fixed;
    z-index: 200;
    pointer-events: none;
    opacity: 0;
    transition: all .2s ease-in-out;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: black;
  }
  .main-menu .menu-close {
    position: absolute;
    color: white;
    right: 20px;
    top: 20px;
  }
  .main-menu:target {
    opacity: 1;
    pointer-events: all;
  }
  .main-menu:target .nav-link {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    color: white !important;
  }
}

@media (min-width: 820px) {
  .header .nav-link:last-of-type {
    margin-right: 0;
  }
  .menu-toggle {
    line-height: 44px;
    color: black;
  }
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
}

@media screen and (max-width: 820px) {
	.container-lrg.flex,
	.container.flex,
	.container-sml.flex,
	.mobile-flex-wrap {
		flex-flow: wrap;
	}
	.col-1,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11 {
		flex-basis: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	.mobile-col-6 {
		flex-basis: 50%;
		max-width: 50%;
	}
	.section-top {
		padding: 30px 0;
	}
  .section {
		padding: 60px 0;
	}
}
@media screen and (max-width: 460px) {
}


.background {
  background-color: white
}

.portfolio > img, video {
  margin-bottom: 15px;
}

.portfolio > video {
  width: 100%;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

.video-container {
  position: relative;
  width: 100%; /* Ensures the container takes full width */
  padding-bottom: 56.25%; /* 9/16 * 100% for 16:9 aspect ratio */
  height: 0; /* Ensures the container's height is driven by padding-bottom */
  overflow: hidden; /* Hides any overflow if the video is slightly off */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
