---
footerlinks: true
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include header.html title="Not Found" %}
  </head>

  <body>

    <div class="background">
      {% include nav.html %}
        
      <section id="portfolio" class="section-top">
        <div class="container">
          <div class="col-12 text-center font-modern portfolio">
            <h1>Sorry. Couldn't find this page.</h1>
            <video playsinline autoplay muted loop poster="">
              <source src="videos/title.mp4" type="video/mp4">
          </video>
          </div>
        </div>
      </section>
  
      {% include footer.html %}
    </div>
  </body>

</html>
