---
apparel: true
footerlinks: true
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include header.html title="Apparel" %}
  </head>

  <body>

    <div class="background">
      {% include nav.html %}
        
      <section id="portfolio" class="section-top">
        <div class="container">
          <div class="col-12 text-center portfolio">
            <img src="images/apparel/LinePlan.jpg"/>
            <img src="images/apparel/LinePlan2copy.jpg"/>
            <img src="images/apparel/LinePlan3.jpg"/>
            <img src="images/apparel/LinePlan4.jpg"/>
            <img src="images/apparel/LinePlan5.jpg"/>
            <img src="images/apparel/LinePlan6.jpg"/>
            <img src="images/apparel/LinePlan7.jpg"/>
            <img src="images/apparel/Trinityheader.jpg"/>
            <img src="images/apparel/Apparel_inspo.jpg"/>
            <img src="images/apparel/Apparel_inspo2.jpg"/>
            <img src="images/apparel/Apparel_Trinity2.jpg"/>
            <img src="images/apparel/Apparel_Trinity3.jpg"/>
            <img src="images/apparel/Apparel_Trinity4.jpg"/>
            <img src="images/apparel/Apparel_Trinity5.jpg"/>
            <img src="images/apparel/Apparel_Trinity7.jpg"/>
            <img src="images/apparel/Apparel_Trinity8.jpg"/>
            <img src="images/apparel/Apparel_Trinity9.jpg"/>
            <img src="images/apparel/Apparel_Trinity10.jpg"/>
            <img src="images/apparel/Apparel_20 copy.jpg"/>
            <img src="images/apparel/Apparel_26.jpg"/>
            <img src="images/apparel/Apparel_21.jpg"/>
            <img src="images/apparel/Apparel_22.jpg"/>
            <img src="images/apparel/Apparel_23.jpg"/>
            <img src="images/apparel/Apparel_24.jpg"/>
            <img src="images/apparel/Apparel_25.jpg"/>
            <img src="images/apparel/Apparel_30.jpg"/>
            <img src="images/apparel/Apparel_31.jpg"/>
            <img src="images/apparel/Apparel_32.jpg"/>
            <img src="images/apparel/Apparel_33.jpg"/>
            <img src="images/apparel/Apparel_34.jpg"/>
            <img src="images/apparel/Apparel_35.jpg"/>
            <img src="images/apparel/Apparel_36.jpg"/>
            <img src="images/apparel/Apparel_37.jpg"/>
            <img src="images/apparel/Apparel_9 copy.jpg"/>
            <img src="images/apparel/Apparel_10.jpg"/>
            <img src="images/apparel/Apparel_11.jpg"/>
            <img src="images/apparel/Apparel_12.jpg"/>
            <img src="images/apparel/seven_collection.jpg"/>
            <img src="images/apparel/Apparel_13.jpg"/>
            <video playsinline autoplay muted loop poster="">
                <source src="videos/shorts.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </section>
  
      {% include footer.html %}
    </div>
  </body>

</html>
