---
portfolio: true
---
<!doctype html>
<html lang="en">
<head>
  {% include header.html %}
</head>
<body>
  {% include nav.html %}

  <section>
    <div class="container-lrg font-modern">
      <div class="col-12">
        <div class="portfolio-grid">
          {% for project in site.data.projects.items %}
          <a class="portfolio-grid-item" href="{{ project.link }}">
            <img src="{{ project.img }}"/>
            <div class="portfolio-grid-title">{{ project.title }}</div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {% include footer.html %}
</body>
</html>