---
personal: true
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include header.html title="Personal" %}
  </head>

  <body>

    <div class="background">
      {% include nav.html %}
        
      <section id="portfolio" class="section-top">
        <div class="container">
          <div class="col-12 text-center portfolio">
            <img src="images/Portfolio20.jpg"/>
            <img src="images/Portfolio21.jpg"/>
            <img src="images/Portfolio22.jpg"/>
            <img src="images/Portfolio23.jpg"/>
            <img src="images/Portfolio24.jpg"/>
            <img src="images/Portfolio25.jpg"/>
          </div>
        </div>
      </section>
  
      {% include footer.html %}
    </div>
  </body>

</html>
