---
apparel: true
footerlinks: true
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include header.html title="Apparel" %}
  </head>

  <body>

    <div class="background">
      {% include nav.html %}
        
      <section id="portfolio" class="section-top">
        <div class="container">
          <div class="col-12 text-center portfolio">
            <img src="images/apparel/LinePlan.jpg"/>
            <img src="images/Ski.jpg"/>
            <iframe width="878" height="494" src="https://www.youtube.com/embed/lvuzbAPWkC8" title="Some postcards from the Alps." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <img src="images/Ski2.jpg"/>
            <iframe width="878" height="494" src="https://www.youtube.com/embed/MCgHLq2I1VM" title="okini" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <img src="images/Ski2.jpg"/>
            <img src="images/FriendsofFriends_final poster.png"/>
            <iframe width="878" height="494" src="https://www.youtube.com/embed/IVQ4ipnRU6c?list=TLPQMTIxMDIwMjVKQivJnwy9Qg" title="Friends of Friends - a ski movie" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <video playsinline autoplay muted loop poster="">
                <source src="videos/shorts.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </section>
  
      {% include footer.html %}
    </div>
  </body>

</html>
