---
personal: true
key: personal
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include header.html title="Personal" %}
  </head>

  <body>
    <div class="background">
      {% include nav.html %}
      <section id="portfolio" class="section-top">
          <div class="container">
              {% include components/portfolio.html portfolio=site.data.personal.content bottom_project_links=true %}
          </div>
      </section>
      {% include footer.html %}
    </div>
  </body>

</html>
