---
vessi: true
---
<!DOCTYPE html>
<html lang="en">

  <head>
    {% include header.html title="Vessi" %}
  </head>

  <body>

    <div class="background">
      {% include nav.html %}
        
      <section id="portfolio" class="section-top">
        <div class="container">
          <div class="col-12 text-center portfolio">
            <img src="images/Portfolio2.jpg"/>
            <img src="images/Portfolio3.jpg"/>
            <video playsinline autoplay muted loop poster="">
                <source src="images/courtside2.mp4" type="video/mp4">
            </video>
            <img src="images/Portfolio4.jpg"/>
            <img src="images/Portfolio5.jpg"/>
            <img src="images/Portfolio6.jpg"/>
            <img src="images/Portfolio7.jpg"/>
            <img src="images/Portfolio8.jpg"/>
            <img src="images/Portfolio9.jpg"/>
            <img src="images/Portfolio10.jpg"/>
            <img src="images/Portfolio11.jpg"/>
            <img src="images/Portfolio12.jpg"/>
          </div>
        </div>
      </section>
  
      {% include footer.html %}
    </div>
  </body>

</html>
