<section style="padding-bottom: 30px;">
    <div class="container font-modern">
        <div class="col-12 text-center">
            {% if page.footerlinks %}
            <div class="mb20">
                <a href="apparel" class="nav-link-hover pad10">Apparel</a>
                <a href="footwear" class="nav-link-hover pad10">Footwear</a>
                <a href="colour" class="nav-link-hover pad10">Colour</a>
            </div>
            {% endif %}
            <div>
                <a class="pad10 nav-link-hover" href="https://www.linkedin.com/in/smitchdesigns" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
            <p class="paragraph copyright">Copyright © 2024 Sarah Mitchell. All Rights Reserved.</p>
        </div>
    </div>
</section>