<nav class="header header-sticky">
    <div class="container-lrg">
        <div class="flex col-12 spread">
            <a href="/" class="logo font-modern">
            <h3>SARAH MITCHELL</h3>
            </a>
            <a href="#main-menu" id="menu" class="menu-toggle">
            <b class="nav-link mr0" style="color: black">☰</b>
            </a>
            <nav id="main-menu" role="navigation" class="main-menu">
            <a href="#" id="main-menu-close" class="menu-close">
                <span class="bold">✕</span>
            </a>
            <div class="font-modern">
                <a href="apparel" class="nav-link nav-link-hover" {% if page.apparel %}style="color: grey"{% endif %}>Apparel</a>
                <a href="colour" class="nav-link nav-link-hover" {% if page.colour %}style="color: grey"{% endif %}>Colour</a>
                <a href="contact" class="nav-link nav-link-hover" {% if page.contact %}style="color: grey"{% endif %}>Contact</a>
            </div>
            </nav>
        </div>
    </div>
</nav>
